.hero {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: space-between;

  &__body {
    flex-grow: 1;
    padding: 3rem 1.5rem;

    flex-shrink: 0;
  }

  &.hero--small {
    .hero__body {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &.hero--medium {
    @include tablet {
      .hero__body {
        padding-top: 9rem;
        padding-bottom: 9rem;
      }
    }
  }

  &.hero--large {
    @include tablet {
      .hero__body {
        padding-top: 13rem;
        padding-bottom: 13rem;
      }
    }
    @include desktop {
      .hero__body {
        padding-top: 15rem;
        padding-bottom: 15rem;
      }
    }
    @media(max-width: $tablet) {
      .hero__body {
        padding-top: 10rem;
        padding-bottom: 10rem;
      }
    }
  }

  &.hero--halfheight,
  &.hero--fullheight {
    .hero__body {
      display: flex;

      align-items: center;

      & > .container {
        flex-grow: 1;

        flex-shrink: 1;
      }
    }
  }

  &.is-halfheight {
    min-height: 50vh;
  }

  &.is-fullheight {
    min-height: 100vh;
  }
}

.hero--video {
  overflow: hidden;

  @include overlay;
  @include mobile {
    display: none;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(-50%, -50%, 0);
  }

  &.is-transparent {
    opacity: .3;
  }
}

.hero__buttons {
  margin-top: 1.5rem;

  @include mobile {
    .button {
      display: flex;

      &:not(:last-child) {
        margin-bottom: .75rem;
      }
    }
  }
  @include tablet {
    display: flex;

    justify-content: center;

    .button:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.hero__head,
.hero__foot {
  flex-grow: 0;

  flex-shrink: 0;
}
