$section-padding: 3rem 1.5rem !default;
$section-padding-small: .5rem 1.5rem !default;
$section-padding-medium: 9rem 1.5rem !default;
$section-padding-large: 18rem 1.5rem !default;

.section {
  padding: $section-padding;

  @include desktop {
    &.section--medium {
      padding: $section-padding-medium;
    }

    &.section--large {
      padding: $section-padding-large;
    }
  }

  &.section--small {
    padding: $section-padding-small;
  }
}
