.media {
  display: flex;
  text-align: left;

  align-items: flex-start;

  .content:not(:last-child) {
    margin-bottom: .75rem;
  }

  .media {
    display: flex;
    padding-top: .75rem;
    border-top: 1px solid rgba($grey, .5);

    .content:not(:last-child),
    .control:not(:last-child) {
      margin-bottom: .5rem;
    }

    .media {
      padding-top: .5rem;

      & + .media {
        margin-top: .5rem;
      }
    }
  }

  & + .media {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid rgba($grey, .5);
  }

  // Sizes
  &.is-large {
    & + .media {
      padding-top: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}

.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;

  flex-shrink: 0;
}

.media-left {
  margin-right: 1rem;
}

.media-right {
  margin-left: 1rem;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  overflow: auto;
  text-align: left;

  flex-shrink: 1;
}
