$body-rendering: optimizeLegibility !default;

html {
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $white;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $base-font;
}

body {
  font-size: 1.2rem;
  font-weight: normal;
  color: $black;
}

// Inline

hr {
  display: block;
  height: 1px;
  margin: 1.5rem 0;
  background-color: $black;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: .875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 500;
}

table {
  td,
  th {
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $black;
  }
}
